// Customizing Bootstrap with Sass variables:
// https://getbootstrap.com/docs/5.0/customize/sass/

// $primary: #276fc2;
// $secondary: #e8d21d;
// $border-radius: 1px;

@import '../node_modules/bootstrap/scss/bootstrap';

body{
  background-color: #1A2035;
}

h2{
  color: white;
}

.caja {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-color: #E2E8F0;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  border-radius: 8px;
  cursor: pointer;
}

.correlativa_aprobada {
  background-color: #AD3535;
}

.correlativa_cursada {
  background-color: #F6AD55;
}

.para_cursar_cursada {
  background-color: #FAF089;
}

.para_cursar_aprobada {
  background-color: #2F855A;
}

.seleccionada {
  background-color: #63B3ED;
}

p {
  font-size: 0.7rem;
}